@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

*{
    box-sizing: border-box;
}


body{
    font-family: 'Mulish', sans-serif;
    background: #f4f4f4;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin:0;
    overflow: hidden;
}


.rating img{
    width: 40px;
}


.panel-container{
    width: 400px;
    background: #fff;
    padding: 30px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 90%;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}


.ratings-container{
    margin: 20px 0;
    display: flex;

}


.rating{
    padding: 20px;
    cursor: pointer;

    transition: all 0.3s;
}

.rating:hover,.rating.active{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 5px;
}


.rating small{
    display: inline-block;
    color: #555;
    margin:10px 0;
}

.rating:hover small,.rating.active small{
    color: #000;    
}


.btn{
    background: #384047;
    color: #fff;
    border: 0;
    padding: 12px 30px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
}

.fa-heart{
    color:red;
    margin: 10px 0;
    font-size: 30px;
}













