*{
    box-sizing: border-box;
}


body{
    background: #f4f4f4;
    font-family: sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin: 0;
    overflow: hidden;
}


.container{
    width: 400px;
    background: #fff;
    padding: 30px ;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}


h2{
    margin: 0;
}


.display{
    background-color: darkblue;
    color: #fff;

    font-size: 2.5rem;
    padding: 10px;
    margin: 10px 0;
}


.controls{
    padding: 10px ;
}

.btn{
    background-color: darkblue;
    color: #fff;
    border: 0;
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    margin: 0 20px;
    cursor: pointer;
}


.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.99);
}










