*{
    box-sizing: border-box;
}


body{
    height:100vh;

    margin: 0;
    overflow: hidden;

}

a{
    text-decoration: none;
    color: #fff;
}

.btn-icon{
    width: 5rem;
    height: 5rem;
    background: #eb0985;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    position: absolute;
    bottom: 1.5rem;
    right: 3rem;


    transition: all 0.5s;
}


.btns.show .btn-icon:nth-of-type(1){
    bottom: 7.3rem;
    background: darkblue;
}



.btns.show .btn-icon:nth-of-type(2){
    bottom: 12.3rem;
    background: #05a5f5;
}


.btns.show .btn-icon:nth-of-type(3){
    bottom: 17.3rem;
    background: #09ed52;
}


.btns.show .btn-icon:nth-of-type(4){
    bottom: 22.3rem;
    background: tomato;
}


.btns .btn-icon{
    width: 4rem;
    height: 4rem;
    font-size: 1rem;

    right: 3.5rem;
}



 .btns  +  .btn-icon  i{
    animation: myani 2s linear infinite;
}


.btns.show  + .btn-icon i{
    animation:myani 2s linear  infinite reverse;
}

@keyframes myani {


    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(1turn);
    }   


}


















